
<html lang="en" class="home">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Home</title>

    <link href="/assets/styles/home.min.css" media="screen, projection" rel="stylesheet" type="text/css" />
  </head>

  <body>


<!-- jQuery from CDN -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<!-- Site specific scripts  -->
<script src="/assets/scripts/main.min.js"></script>


</body>
</html>

